<% include partials/header %>


<nav aria-label="breadcrumb">
  <ol class="breadcrumb mb-0 border">
    <li class="breadcrumb-item"><a href="Home.html">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Materials</a></li>
    <li class="breadcrumb-item active" aria-current="page">Notes</li>
  </ol>
</nav>

	<!--Codes-->
<div class="container mt-5" >
  <h2>Codes</h2><small>Your Helping Hand</small>
  <p>Check from the following codes: </p>
  <table class="table table-striped table-hover">
    <thead>
      <tr class="bg-info">
        <th>Code</th>
        <th>Subject</th>
        <th>Download/Purchase</th>
      </tr>
    </thead>
    <tbody>
    <%  posts.forEach(function(post){ %>
      
      <tr>
        <td><%=post.code%></td>
        <td>><%=post.subject%></td>
        <td><a href="/home/<%= post._id %>">Download/Purchase</a></td>
      </tr>
    <%  }) %>
    <tr>
      <td><a href="/home/new">+</a></td>
      <td><a href="/home/new">+</a></td>
      <td><a href="/home/new">+ Upload</a></td>
    </tr>
        
    </tbody>
  </table>
</div>
    <% include partials/footer %>