<% include partials/blog_header %>
    <div class="container">
        <div>
   	    <h1 class="display-4 custom1 centerAlign"><%=resultBlog.title%></h1>
   	    <hr>
	    	<div class="jumbotron">
	           <img class="img-thumbnail rounded" style="width:50%;" src="<%= resultBlog.image %>">
		   </div>
	            <div class="content">
	                <div class="">
    	                <span class="text-muted"><%= resultBlog.created.toDateString() %></span>
	                </div>
	            <h5>CREATED BY<span class="text-muted marginLeft"><%=resultBlog.author.username%></span></h5>
            	     <div class="description">
            	        <p><%- resultBlog.body %></p>
            	     </div>
	            </div>
            </div>
            <%if(currentUser && resultBlog.author.id.equals(currentUser._id)){%>
            <a href="/blogs/<%=resultBlog._id%>/edit" class="btn btn-outline-primary">Update Blog</a>
            <form style="display: inline" method="POST" action="/blogs/<%=resultBlog._id%>?_method=DELETE">
                <button class="btn btn-outline-danger" type="submit">Delete Blog</button>
            </form>
            <%}%>
        </div>
        </div>
    </div>
    
    
<hr>
<div class="container">
	<div claas="row">
		<div class="mb-2">
			<h3><strong>Leave a Comment:</strong></h3>
			<hr>
		</div>
			<div class="container bg-light py-4">
			    <%resultBlog.comments.forEach(function(comment){%>
  	    <div>
  	        <h5 class="d-inline"><%=comment.author.username%><small class="text-muted marginLeft"><%=comment.text%></small></h5>
  	        <form action="/blogs/<%=resultBlog._id%>/comment/<%=comment._id%>?_method=DELETE" method="POST" class="d-inline float-right">
  	            <button class = "p-0 float-right delete">delete</button>
  	        </form>
  	        <a href="/blogs/<%=resultBlog._id%>/comment/<%=comment._id%>/edit" class=" float-right">edit</a>
  	     </div>
  	    <%}) %>	
				<form action="/blogs/<%=resultBlog._id%>/comment" method="POST">
			        <div class="form-group">
			    	<textarea class="form-control" id="exampleTextarea" placeholder="Comment goes here.." rows="3" name="comment[text]"></textarea>
			      </div>
			      <div class="text-right mt-4">
			      <input type="submit" class="btn btn-dark" name="" value="Comment">
				  </div>
			  	</form>
			</div>
	</div>
</div>
    <% include partials/footer %>


<% include partials/footer %>