<% include partials/header %>
<nav aria-label="breadcrumb mt-0">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Materials</a></li>
    <li class="breadcrumb-item"><a href="index.html">Notes</a></li>
    <li class="breadcrumb-item active" aria-current="page">Download</li>
  </ol>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
          </div>
          <div class="col-sm-4">
            <img src="http://www.medef-idf.fr/wp-content/uploads/2018/03/application-pdf.png" class="rounded mx-auto d-block img-thumbnail" alt="...">
          </div>
          <div class="col-sm-4">
          </div>
        </div>
      </div>
      <div class="container mt-4 mb-3 text-center">
          <button class="btn btn-success">Purchase</button>
          <a class="btn btn-outline-info" href="/home/<%=resultPost._id%>/download">Download Pdf</a>
          <button class="btn btn-danger" disabled="disable">Share</button>
      </div>
    </div>
    <div class="col-sm-4 rounded">
		<div class="container jumbotron ">
      <p><b>DATED-</b><%=resultPost.created.toDateString()%></p>
      <p><b>SUBJECT-</b><%=resultPost.subject%></p>
      <p><b>TITLE-</b><%=resultPost.title%></p>
      <p><b>CODE-</b><%=resultPost.code%></p>
      	</div>
    </div>
  </div>
<div class="jumbotron">
   	<div class="container bg-light rounded py-4">
  		<div class="row">
  			<div class="col-sm-4 mt-2 text-center">
  				Store Name
  			</div>
  			<div class="col-sm-2 mt-2">
  			</div>
  			<div class="col-sm-3 mt-2 text-center">
  				<select class="btn btn-info">
  					<option>No. of copies</option>
  					<option>1</option>
  					<option>2</option>
  					<option>3</option>
  					<option>4</option>
  					<option>5</option>
  				</select>
  			</div>
  			<div class="col-sm-2 mt-2 btn btn-info">
  				Purchase
  			</div>
  		</div>
  	</div>
</div>
<hr>
<div class="container">
	<div claas="row">
		<div class="mb-2">
			<h3><strong>Leave a Comment:</strong></h3>
			<hr>
		</div>
			<div class="container bg-light py-4">
  	    <%resultPost.comments.forEach(function(comment){%>
  	    <div>
  	        <h5 class="d-inline"><%=comment.author.username%><small class="text-muted marginLeft"><%=comment.text%></small></h5>
  	        <form action="/home/<%=resultPost._id%>/comment/<%=comment._id%>?_method=DELETE" method="POST" class="d-inline float-right">
  	            <button class = "p-0 float-right delete">delete</button>
  	        </form>
  	        <a href="/home/<%=resultPost._id%>/comment/<%=comment._id%>/edit" class=" float-right">edit</a>
  	     </div>
  	    <%}) %>	  
				<form action="/home/<%=resultPost._id%>/comment" method="post">
			        <div class="form-group">
			    	<textarea class="form-control" id="exampleTextarea" placeholder="Comment goes here.." name="comment[text]" rows="3"></textarea>
			      </div>
			      <div class="text-right mt-4">
			      <input type="submit" class="btn btn-dark" name="" value="Comment">
				  </div>
			  	</form>
			</div>
	</div>
</div>
<% include partials/footer %>