nav{
    margin-bottom: 20px;
}
.marginLeft{
    margin-left: 10px;
}
.marginRight{
    margin-right: 20px;
}
.delete{
    cursor: pointer;
    background-color: inherit;
    margin: 0;
    border:none;
    color: #007bff;
    margin-left: 10px;
}